colors {
    --background-dark: #110b14;
    --background: #282229;
    --background-light: #333133;
    --background-hover: #ff5fa727;
    --background-input: #3c343c;

    --foreground-light-trans: #fcffe41a;
    --foreground-light: #fcffe4;
    --foreground-mid: #d3cfc0;
    --foreground-dark: #bba991;

    --text-dark: #9f897b;
    --text-darker: #818172;
    --text-darkest: #5d5d45;

    --rust: #ff6355;

    --spey-green: #41ffd5;
    --spey-pink: #ff5fa7;
    --spey-pink-dark: #b64477;
    --spey-pink-dark-selection: #b64477a0;
    --spey-red: #ff0051;
    --spey-orange: #ffaa20;
    --spey-yellow: #ffffaa;

    --spey-delete: #ff4b82;
    --spey-modified: #ffcc95;

    --spey-error: #ec5135;
    --spey-warning: #ffda53;
    --spey-info: #43bdff;

    --tab-border: #0e001440;
}